$bg-colour: #EFE7D7;
$red: #B52D2D;
$green: #17774B;
$info-bg-color: #FAF8F3;


*, ::before, ::after {
	box-sizing: border-box;
	outline: 0;
	padding: 0;
	margin: 0;
    border: 0;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    justify-content: center;
    height: 100vh;
    height: var(--app-height, 100vh);

    header{
        height: var(--app-height, 15vh);
        background-color: $bg-colour;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25vh;
        .icon{
            height: 100px;
        }
        .container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            column-gap: 25px;
            font-size: 20px;
            a{
                text-decoration: none;
                color: $green;
                padding: 0px 10px;
            }
        }
    }

    // index.html

    main{
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 20vh;
            border-bottom: $red solid 2px;
            padding: 15px 0px;
            margin: 0px 20vh;
            font-size: 22px;
            color: $red;
        }
        .header-img{
            background: url('image/header.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 35px;
            height: 35px;
            display: inline-block;
        }
        img{
            padding: 25px 27.5vh;
            width: 100%;
            height: var(--app-height, 70vh);
        }
    }

    // // index.html

    // contact.html

    .contact-main{
        background: url("../image/contactus.png");
        height: 75vh;
        background-position: center;
        background-size: cover;
        .contact-container{
            padding: 5vh 25vh;
            h2{
                color: $green;
                font-size: 30px;
                text-decoration: underline;
                text-underline-offset: 5px;
            }
            p{
                text-align: center;
                font-size: 18px;
                line-height: 1.5em;
                .text-color{
                    color: $red;
                }
            }
        }
    }

    // contact.html

    // shop_info.html

    .shop-info{
        margin: 15vh 25vh;
    }

    // shop_info.html


    footer{
        height: var(--app-height, 10vh);
        background-color: $bg-colour;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
        }
        img{
            padding: 0px 10px;
        }
    }
}